* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  outline: none;
  cursor: pointer;
}

.header {
  background-image: url(../assets/images/header-bg.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
} 

.header__container {
  max-width: 1720px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;

}

.nav__list {
  list-style-type: none;
  display: flex;
}

.nav__item {

}

.nav__item+.nav__item {
  margin-left: 45px;
}

.nav__link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.logo {

}

.header__logo {
  padding-bottom: ;
}

.logo__img {

}

.header__inner {
  display: flex;
  align-items: center;
}

.personal {

}

.header__personal {
  position: relative;
}

.header__personal::after {
  content: "";
  display: block;
  height: 2px;
  width: 45px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 205px;
}

.personal__list {
  display: flex;
  list-style-type: none;
}



.personal__item {

}

.personal__item:last-child {
  position: relative;
}

.personal__item+.personal__item {
  margin-left: 45px;
}

.personal__link {
  text-decoration: none;

}

.personal__img {

}

.basket {
  position: absolute;
  left: 25px;
  top: -10px;
  background-color: white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social{
  margin-left: 135px;
}

.header__social {

}

.social__list {
  list-style-type: none;
  display: flex;

}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.social__item+.social__item {
  margin-left: 30px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__img {
}

.header__content {
  display: flex;
  justify-content: center;
}

.btn {

}

.header__btn {
  margin-top: 105px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0;
  color: white;
  font-size: 28px;
  background-color: #0aa566;
  height: 70px;
  width: 280px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.header__btn::after {
  content: url(../assets/images/Arrow-yellow.png);
}

.smoothies {
  padding-top: 100px;
  padding-bottom: 110px;
}

.smoothies__container {
  margin: auto;
  max-width: 960px;
}

.title {

}

.smoothies__title {
  color: #f7ae3b;
  font-size: 50px;
  text-align: center;
}

.smoothies__text {
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400px;
  margin-top: 55px;
}

.features {

}

.smoothies__features {
  margin-top: 60px;

}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;

}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 185px;
}

.features__img {

}

.features__name {
  color: #f2612d;
  font-size: 25px;
}

.about{
  padding-top: 100px;
  background-color: #14826f;
  min-height: 800px;
  position: relative;
}

.about__img{
  position: absolute;
  left: 148px;
  bottom: -80px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 600px;
}

.title {

}

.about__title {
  font-size: 55px;
  color: white;
  position: relative;
}

.about__title::after {
  content: "";
  display: block;
  height: 11px;
  background-image: url(../assets/images/line.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 365px;
  position: absolute;
  top: 123px;
  left: 90px;
}

.about__title--yellow {
  color: #cae941;
}

.about__list {
  min-height: 330px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  list-style-image  : url('/assets/images/marker.png');
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  margin-top: 70px;
}

.about__item {

}

.about__item+.about__item {
  margin-top: 20px;
}

.about__item--normal {
  font-weight: normal;
}

.about__btn {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px; width: 380px; 
  color: white; font-size: 20px;
  border: solid 2px #f8b231;
  border-radius: 30px; 
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px; 
  -ms-border-radius: 30px; 
  -o-border-radius: 30px;
  background-color: #14826f;
}

.about__btn::after {
  content: url(../assets/images/Arrow-yellow.png);
}

.products {

}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-top: 130px;
  padding-bottom: 80px;
  min-width: 250px;
}

.products__img {

}

.products__item:nth-child(1) {
  background-color: #632b17;
}

.products__item:nth-child(2) {
  background-color: #178670;
}

.products__item:nth-child(3) {
  background-color: #f7ae3b;
}

.products__item:nth-child(4) {
  background-color: #c3471b;
}

.products__title {
  margin-top: 35px;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.products__title--small {
  margin-top: 15px;
  font-size: 20px;
  color: white;
  font-style: italic;
}

.products__btn {
  margin-top: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 200px;
  border: solid 2px white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.products__btn::after {
  content: url(../assets/images/arrow-white.png);
}

.story {
  height: 100%;
  padding-top: 120px;
  padding-bottom: 160px;

}

.story__container {
  max-width: 1300px;
  margin: 0 auto;


}

.story__wrapper {
  display: flex;
  justify-content: space-between;
}

.story__intro {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  padding-top: 140px;
}

.story__title {
  color: #f7ae3b;
  font-size: 50px;
}

.story__text {
  margin-top: 45px;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: 1e1;
}

.story__btn {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none; border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  height: 60px;
  width: 300px;
  color: white;
  font-size: 20px;
  background-color: #0aa566;
}

.story__btn::after {
  content: url(../assets/images/Arrow-yellow.png);
}

.story__img-wrapper {
  position: relative;
}

.story__img-wrapper::before {
  content: "";
  display: block;
  height: 215px;
  width: 290px;
  background-image: url(../assets/images/stamp.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  top: 130px;
  left: -171px;
}

.story__img {

}

.testimonials {
  padding-top: 120px;
  background-color: #672f1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.testimonials::before {
  content: "";
  background-image: url(/assets/images/dots.png);
  display: block;
  height: 300px;
  width: 410px;
  position: absolute;
  top: -95px;
  right: 50px;
}

.testimonials__title {
  font-size: 50px;
  color: #f7ae3b;
  font-weight: 800;
}

.testimonials__title--span {
  color: #f2612d;
  text-transform: uppercase;
}

.testimonials__slider {

}

.testimonials__feedback-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.testimonials__feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 720px;
  font-size: 18px;
  color: white;
  line-height: 35px;
}

.testimonials__source {
  color: #f7ae3b;
}

.testimonials__img {

}

.testimonials__slider-control {

}

.testimonials__slider-prev {

}

.testimonials__slider-next {

}

.blog {
  padding-top: 100px;
  padding-bottom: 200px;
}

.blog__container {
  max-width: 1200px;
  margin: 0 auto;
}

.blog__wrapper {
  display: flex;
  justify-content: space-between;
}

.blog__title-wrapper {
  position: relative;
}

.blog__title-wrapper::after {
  content: "";
  display: block;
  background-image: url(../assets/images/line_yellow.png);
  background-repeat: no-repeat;
  height: 13px;
  width: 690px;
  position: absolute;
  top: 165px;
  left: 510px;
  z-index: -1;
  background-size: contain;
}

.blog__title {
  font-size: 50px;
  color: #f7ae3b;
  font-weight: 800;
}

.blog__img {
  margin-top: 50px;
}

.article__wrapper {
  padding-top: 200px;
  padding-left: 60px;
}

.article {

}

.article__title {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #f2612d;
  text-transform: uppercase;
}

.article__time {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.article__text {
  margin-top: 45px;
  align-self: flex-end;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
}

.article__link {
  font-size: 18px;
  font-weight: 800;
  color: black;
  text-decoration: none;
  font-style: italic;
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram__title {
  padding-bottom: 45px;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #0aa566;
  position: relative;
}

.instagram__title::before {
  content: "";
  background-image: url(../assets/images/icon_insta.png);
  background-repeat: no-repeat;
  display: block;
  height: 26px;
  width: 26px;
  background-size: contain;
  position: absolute;
  top: 2px;
  left: -36px;
}

.instagram__list {
  padding-bottom: 10px;
  width: 100%;
  display: flex;

}

.instagram__item {
  display: flex;
  flex: 0 0 20%;
  position: relative;
}

.instagram__item::after {
  content: "";
  display: block;
  background-image: url(../assets/images/icon__insta_white.png);
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  background-size: contain;
  position: absolute;
  right: 30px;
  bottom: 20px;

}

.instagram__img {
  width: 100%;
}

.footer {

}


.footer__top {
  background-color: #f7ae3b;
  min-height: 370px;
}

.footer__container {
  max-width: 1720px;
  margin: 0 auto;
}

.footer__top-wrapper {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {

}

.information {

}

.information__title {


}

.subtitle {
  font-size: 26px;
  font-weight: 800px;
  letter-spacing: -0.02em;
  color: white;
}

.information__list {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  
}

.information__link {
  font-size: 18px;
  line-height: 35px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #6d450c;
}

.information__link+.information__link {
  margin-top: 5px;
}

.payment {
  max-width: 210px;
}

.payment__title {

}

.payment__list {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  min-height: 140px;
}

.payment__item {

}

.footer__subscribe {
  display: flex;
  flex-direction: column;
}

.subscribe__title {

}

.footer__form {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer__form::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../assets/images/subscribe-icon.png);
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 20px;
  left: 25px;
}

.footer__input {
  height: 60px;
  width: 495px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: none;
}

::-webkit-input-placeholder {
  font-size: 17px;
  color: #6d450c;
  font-weight: 700;
  letter-spacing: -0.02em;
  padding-left: 60px;
}

.footer__btn {
  color: #6d450c;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.footer__social-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 185px;
}

.footer__social-wrapper::before {
  content: "";
  display: block;
  background-image: url(../assets/images/arrow_subscribe.png);
  background-repeat: no-repeat;
  height: 55px;
  width: 55px;
  background-size: contain;
  position: absolute;
  top: -20px;
  left: 100px;
}

.footer__social {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.social__list {

}

.footer__social li {
  background-color: #f7ae3b;
}
.social__item {

}

.social__link {

}

.social__img {

}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c2c1c;
  height: 60px;
}

.footer__copy {
  font-size: 13px;
  color: #af8a82;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-align: center;
}

.footer__up {
  
}

.up__span {
  min-width: 50px;
  min-height: 50px;
  font-size: 16px;
  background-color: #f2662f;
}

.up__link {

}