.blog {
	padding: 100px 0 200px;

	&__container {
		margin: 0 auto;
		max-width: 1200px;
	}

	&__wrapper {
		@include flex(flex, row, space-between);
	}

	&__title-wrapper {
		position: relative;

		&::after {
			@include pseudo;
			background: no-repeat url(/assets/images/line_yellow.png);
			height: 13px;
			left: 510px;
			top: 165px;
			width: 690px;
			z-index: -1;
		}
	}

	&__title {
		@include font('Muli', 50px, 800);
		color: $primary-color;
	}

	&__img {
		margin-top: 50px;
	}
}

.article {
	&__wrapper {
		padding: 200px 0 0 60px;
	}

	&__title {
		@include font('Muli', 30px, 800);
		color: #f2612d;
		letter-spacing: -0.02em;
		text-transform: uppercase;
	}

	&__time {
		@include font('Muli', 18px, 400);
		margin-top: 20px;
	}

	&__text {
		@include font('Muli', 18px, 400);
		align-self: flex-end;
		line-height: 35px;
		margin-top: 45px;
	}

	&__link {
		@include font('Muli', 18px, 800);
		color: black;
		font-style: italic;
		text-decoration: none;
	}

}
