.footer {
	&__top {
		background-color: $primary-color;
		min-height: 370px;
	}

	&__container {
		margin: 0 auto;
		max-width: 1720px;
	}

	&__top-wrapper {
		@include flex(flex, row, space-between);
		padding-top: 90px;
	}

	&__subscribe {
		@include flex(flex, column, flex-start);
	}

	&__form {
		@include flex(flex, column, flex-start);
		margin-top: 35px;
		position: relative;
	}

	&__form::before {
		@include pseudo;
		background: no-repeat url(/assets/images/subscribe-icon.png);
		height: 24px;
		left: 25px;
		top: 20px;
		width: 24px;
	}

	&__input {
		border: none;
		border-radius: 30px;
		height: 60px;
		moz-border-radius: 30px;
		ms-border-radius: 30px;
		o-border-radius: 30px;
		webkit-border-radius: 30px;
		width: 495px;
	}

	&__btn {
		@include font('Muli', 18px, 800);
		color: #6d450c;
		letter-spacing: -0.02em;
		text-transform: uppercase;
	}

	&__social-wrapper {
		@include flex(flex, row, flex-start);
		align-items: center;
		margin-top: 30px;
		padding-left: 185px;
		position: relative;
	}

	&__social-wrapper::before {
		@include pseudo;
		background: no-repeat contain url(/assets/images/arrow_subscribe.png);
		height: 55px;
		left: 100px;
		top: -20px;
		width: 55px;
	}

	&__social {
		@include flex(flex, row, space-between);
		width: 110px;
	}

	&__social li {
		background-color: $primary-color;
	}

	&__bottom {
		@include flex(flex, row, center);
		align-items: center;
		background-color: #6c2c1c;
		height: 60px;
	}

	&__copy {
		@include font('Muli', 13px, 400);
		color: #af8a82;
		letter-spacing: 0.02em;
		text-align: center;
	}

}

.subtitle {
	@include font('Muli', 26px, 800);
	color: white;
	letter-spacing: -0.02em;
}

.information {
	&__list {
		@include flex(flex, column, flex-start);
		margin-top: 35px;
	}

	&__link {
		@include font('Muli', 18px, 700);
		color: #6d450c;
		letter-spacing: -0.02em;
		line-height: 35px;
		text-decoration: none;
	}
}

.information__link + .information__link {
	margin-top: 5px;
}

.payment {
	max-width: 210px;

	&__list {
		@include flex(flex, row, space-between);
		align-items: baseline;
		flex-wrap: wrap;
		margin-top: 35px;
		min-height: 140px;
	}

}

::-webkit-input-placeholder {
	@include font('Muli', 17px, 700);
	color: #6d450c;
	letter-spacing: -0.02em;
	padding-left: 60px;
}

.up__btn {
	@include font('Muli', 16px, 700);
	background-color: #f2662f;
	border: none;
	bottom: 35px;
	min-height: 50px;
	min-width: 50px;
	position: fixed;
	right: 55px;
}

.up__btn::before {
	color: white;
	content: "Go top";
	font-size: 16px;
	font-weight: 700px;
	left: -55px;
	letter-spacing: -0.02em;
	line-height: 40px;
	position: absolute;
	top: 35px;
}

.up__btn::after {
	@include pseudo;
	background: no-repeat url(/assets/images/icon_arrow_up.png);
	height: 25px;
	left: 17px;
	top: 15px;
	width: 13px;
}