.header {
	background: center no-repeat url(/assets/images/header-bg.png);
	height: 100vh;
	padding-top: 70px;

	&__container {
		margin: 0 auto;
		max-width: 1720px;
	}

	&__top {
		@include flex(flex, row, space-between);
		align-items: center;
		position: relative;
	}

	&__inner {
		@include flex(flex, row, space-between);
		align-items: center;
	}

	&__content {
		@include flex(flex, row, center);
	}

	&__btn {
		@include font('Muli', 16px, 800);
		@include flex(flex, row, space-around);
		@extend %btn;
		align-items: center;
		background-color: $color-btn;
		border: none;
		height: 70px;
		margin-top: 105px;
		width: 280px;
}

	&__btn::after {
		@include pseudo;
		background: no-repeat url(/assets/images/Arrow-yellow.png);
		height: 16px;
		width: 30px;
		top: 28px;
		right: 20px;
	}

}

.nav {
	display: flex;

	&__list {
		@include flex(flex, row, flex-start);
		list-style-type: none;
	}
	
	&__link {
		@include font('Muli', 16px, 700);
		color: white;
		letter-spacing: 0.02em;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.nav__item + .nav__item {
	margin-left: 45px;
}

.header__logo {
	display: block;
	left: 50%;
	moz-transform: translate(-50%, 0px);
	ms-transform: translate(-50%, 0px);
	o-transform: translate(-50%, 0px);
	position: absolute;
	transform: translate(-50%, -45px);
	webkit-transform: translate(-50%, -45px);
	-webkit-transform: translate(-50%, -45px);
	-moz-transform: translate(-50%, -45px);
	-ms-transform: translate(-50%, -45px);
	-o-transform: translate(-50%, -45px);
}

.personal {
	position: relative;

	&::after {
		@include pseudo;
		background-color: white;
		height: 2px;
		left: 205px;
		top: 50%;
		width: 45px;
	}

	&__list {
		@include flex(flex, row, flex-start);
		list-style-type: none;
	}

	&__item:last-child {
		position: relative;
	}
	&__link {
		text-decoration: none;
	}
}

.personal__item + .personal__item {
	margin-left: 45px;
}

.basket {
	@include flex(flex, row, center);
	align-items: center;
	background-color: white;
	border-radius: 50%;
	height: 20px;
	left: 25px;
	position: absolute;
	top: -10px;
	width: 20px;
}

.social {
	margin-left: 135px;

	&__list {
		@include flex(flex, row, flex-start);
		list-style-type: none;
	}

	&__item {
		@include flex(flex, row, center);
		align-items: center;
		background-color: white;
		border-radius: 50%;
		height: 35px;
		moz-border-radius: 50%;
		ms-border-radius: 50%;
		o-border-radius: 50%;
		webkit-border-radius: 50%;
		width: 35px;
	}

	&__link {
		@include flex(flex, row, center);
		align-items: center;
	}
}

.social__item + .social__item {
	margin-left: 30px;
}

.burger__btn {
	display: none;
}

.burger__menu--show {
	display: block;
}