.instagram {
	align-items: center;
	display: flex;
	flex-direction: column;

	&__title {
		@include font('Muli', 24px, 800);
		color: #0aa566;
		letter-spacing: -0.02em;
		padding-bottom: 45px;
		position: relative;
	}

	&__title::before {
		background-image: url(/assets/images/icon_insta.png);
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: block;
		height: 26px;
		left: -36px;
		position: absolute;
		top: 2px;
		width: 26px;
	}

	&__list {
		display: flex;
		padding-bottom: 10px;
		width: 100%;
	}

	&__item {
		display: flex;
		flex: 0 0 20%;
		position: relative;
	}

	&__item::after {
		@include pseudo;
		background-image: url(/assets/images/icon__insta_white.png);
		background-repeat: no-repeat;
		background-size: contain;
		bottom: 20px;
		height: 26px;
		right: 30px;
		width: 26px;
	}

	&__img {
		width: 100%;
	}
}
