.instagram {
	@include flex(flex, column, flex-start);
	align-items: center;;

	&__title {
		@include font('Muli', 24px, 800);
		color: #0aa566;
		letter-spacing: -0.02em;
		padding-bottom: 45px;
		position: relative;
	}

	&__title::before {
		@include pseudo();
		background: no-repeat contain url(/assets/images/icon_insta.png);
		height: 26px;
		left: -36px;
		top: 2px;
		width: 26px;
	}

	&__list {
		@include flex(flex, row, flex-start);
		padding-bottom: 10px;
		width: 100%;
	}

	&__item {
		@include flex(flex, row, flex-start);
		flex: 0 0 20%;
		position: relative;
	}

	&__item::after {
		@include pseudo;
		background: no-repeat contain url(/assets/images/icon__insta_white.png);
		bottom: 20px;
		height: 26px;
		right: 30px;
		width: 26px;
	}

	&__img {
		width: 100%;
	}
}
