.products {
	&__list {
		@include flex(flex, row, space-between);
		flex-wrap: wrap;
	}

	&__item {
		@include flex(flex, column, flex-start);
		align-items: center;
		flex-grow: 1;
		min-width: 250px;
		padding: 130px 0 80px;
	}

	&__item:nth-child(1) {
		background-color: #632b17;
	}

	&__item:nth-child(2) {
		background-color: #178670;
	}

	&__item:nth-child(3) {
		background-color: #f7ae3b;
	}

	&__item:nth-child(4) {
		background-color: #c3471b;
	}

	&__title {
		@include font('Muli', 24px, 700);
		color: white;
		margin-top: 35px;
	}

	&__title--small {
		@include font('Muli', 24px, 400);
		color: white;
		font-style: italic;
		margin-top: 15px;
	}

	&__btn {
		@include font('Muli', 21px, 800);
		@include flex(flex, row, space-around);
		@extend %btn;
		align-items: center;
		background-color: transparent;
		border: solid 2px white;
		height: 60px;
		margin-top: 65px;
		width: 200px;

		&::after {
			@include pseudo;
			background: no-repeat url(/assets/images/arrow-white.png);
			height: 16px;
			width: 30px;
			top: 21px;
			right: 27px;
	}
	}
}
