@font-face {
    font-family: 'Muli';
    src: url(src/assets/fonts/Muli-Regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Muli';
    src: url(src/assets/fonts/Muli-Italic.ttf) format(ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    src: url(src/assets/fonts/Muli-Bold.ttf) format(ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Muli';
    src: url(src/assets/fonts/Muli-BoldItalic.ttf) format(ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    src: url(src/assets/fonts/Muli-ExtraBold.woff) format(woff);
    font-weight: 800;
}

@font-face {
    font-family: 'Muli';
    src: url(src/assets/fonts/Muli-Semi-BoldItalic.ttf) format(ttf);
    font-weight: 600;
    font-style: italic;
}
